.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.foto {
    margin-right: 20px;
}

#imagemperfil {
    border-radius: 1.5rem;
    max-width: 350px;
}

.informacoes {
    max-width: 800px;
}

.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    color: rgb(255, 255, 255);
    background-color: black;

}

.white {
    color: white;
}
.centralizar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.redeSocial{
    display: flex;
    justify-content: center;
    align-items: center;
}